.html {
  /* border: 1px solid red; */
  width: 100vw;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  
}

.headers {
  display: flex;
  justify-content: center;
}

.sub-headers {
  display: flex;
  justify-content: center;
}